body {
  margin: 0 !important;
  height: 100% !important;
  font-family: "Rubik", sans-serif;
  background-image: url(/images/pattern-background-desktop-light.svg);
  background-color: #F4F6FA;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  overflow: hidden; /* Add this line */
}

.parent-container {
  box-sizing: border-box;
  margin: 0 !important;
  height: 100vh !important;
  width: 100% !important;
  display: flex;
  flex-direction: row;
  overflow: hidden; /* Add this line */
}

.left-container,
.right-container {
  flex: 1;
  padding: 20px;
  margin: 40px 70px;
}

.right-container {
  text-align: right;
  display: flex;
  flex-direction: column;
}

.toggle {
  
  float: right;
  margin:  50px 70px 20px;
  display:inline-flex;
  gap: 10px;

}


#darkModeToggle {
  cursor: pointer;
}

/* .navigation a {
  padding: 20px;
  border-radius: 24px;
  margin-right: 10px;
  gap: 32px;
  font-size: 28px;
} */

.list-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
   background-color: rgb(244, 244, 244);
  border-radius: 25px;
  list-style: none;
  gap: 30px;
  cursor: pointer;
  color: #313E51;
  margin-top: 24px; 
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;

  border:1px solid black;
}

.left-container .Welcome {
  font-weight:300;
  font-style: lighter;
  font-size: 90px;
}

.left-container .Quiz {
  font-weight: 500;
  font-size: 90px;
}

.left-container .p {
  color: #ABC1E1;
  font-size: 20px;
  font-style:italic !important;
}

.question-image {
  border-radius: 7px;
  margin-left: 10px;
  bo
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}





 
 @media (max-width: 900px) {
  
  .parent-container {
    flex-direction: column !important;
  }
 
}

