
/* Add this to your existing styles */
body {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: transparent transparent; /* Firefox */
  margin: 0;
  font-family: 'Rubik', sans-serif;
  background-image: url("/images/pattern-background-desktop-light.svg");
  background-size: cover;
  background-color: #f4f6fA;
  /* For Webkit browsers like Chrome and Safari */
  overflow-y: scroll; /* Always show vertical scrollbar */
}

/* For Webkit browsers like Chrome and Safari */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: transparent; /* Color of the thumb */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Color of the track */
}

.headerContainer {
   display:flex;
  justify-content: space-between;
  margin-bottom: 40px;

}

.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 30px;

}


/* Additional styles for headerContainer, header, toggle, etc. can be added here */


.head_img{
   padding: 7px 10px;
   border-radius:3px;
   
}

.title{
  font-size: 30px;
  font-variant: normal;
}

.toggle {
  
  float: right;
  display:inline-flex;
  gap: 10px;

}

.container{
  margin: 60px 100px;
}

#question-container {
  margin: 0;
}

#question-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  color: inherit;
}

.letter{
  background-color:rgba(231, 231, 232, 0.9);
  padding: 10px 16px;
  border-radius:5px;
  margin-right: 20px;
  opacity: 0.8;
  color:#313E51;
}


.options-list li:hover .letter {
  background-color: #8f0eec40;
  color:#A729F5;
}
.options-list li:active .letter{
  /* background-color: #A729F5; */
  color:#ffffff;
}


/* Additional styling for options */
.options-list li {
  padding: 36px 25px;
  /* background-color: #ffffff; */
  border-radius: 24px;
  list-style: none;
  font-size: 24px;
  font-style: normal;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 90px;
  font-weight: 700;
  width: 100%;
  margin-bottom: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  /* color:#313E51; */
}


.options-container{
  display: flex;
  text-align: left;
  display: flex;
  align-items: left;
  flex-direction: column;
  width: 700px;
}

.options-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.submit,
.nextButton {
  background-color:#A729F5;
  padding: 30px 20px;
  font-size: 30px;
  color: #ffffff;
  gap: 10px;
  align-items: center;
  border-radius: 24px;
  border-color: none;
  border: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 24px;

}

.submit:hover,
.nextButton:hover{
    background-color: #A729F599;
    ;
     /* Light purple background color on hover */
}



#progress-bar-container {
  width: 700px;
  height: 10px; /* Adjust as needed */
  background-color: #ffffff;
  border-radius: 100px;
  margin-top: -110px;
  box-shadow: rgba(0, 0, 0, 0.031) 0px 5px 4px;

 }

#progress-bar {
  height: 100%;
  width: 0;
  border-radius: 100px;
  background-color: #A729F5; /* Adjust as needed */
}




/* Adjust styles for screens with a maximum width of 768px */
@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden; /* Prevent horizontal overflow */
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  #question-list {
    flex-direction: column-reverse;
  }

  .list-item {
    width: 100%;
  }
}

.crossIcon  {
  text-align: center;
  color: #EE5454;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  border: 2px solid#EE5454;
  float: right; /* Float to the right */
  margin-left: auto; /* Move to the right edge */
}

.cross {
  text-align: center;
  color: #EE5454;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  border: 2px solid#EE5454;
  margin-right: 10px;
}

.tickIcon {
  text-align: center;
  color: #26D782;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  border: 2px solid #26D782;
  float: right; /* Float to the right */
  margin-left: auto; /* Move to the right edge */
}
.crossIcon, .tickIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}



.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.error-message{
  color:red;
  text-align:center;
}


/* score */
.result-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.left-div {
  width: 60%;
}

.right-div {
  width: 40%;
  text-align: right;
}


/* core */
.score-parent-container {
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: 20px;
  text-align: left;
  /* flex-direction: row; */
  /* gap: 100px;
  margin-right:20rem; */
}

/* .score-left-container,
.score-right-container {
  text-align: center;
  width: 500px; /* Adjust the width as needed */


  .score-left-container{
    display:flex;
    flex-direction:column;
    
  }

  .score-right-container{
    text-align:right;
    width:500px;
  }

.score-board {
  background-color: #ffffff;
  padding: 80px 60px;
  border-radius: 12px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  
}

.digit {
  font-size: 100px;
  font-weight: 800;
}

.againBtn {
  background-color: #a729f5;
  padding: 20px;
  font-size: 30px;
  color: #ffffff;
  gap: 10px;
  align-items: center;
  border-radius: 24px;
  border: none;
  cursor: pointer;
  width: 100%; /* Use 100% width for responsiveness */
  max-width: 500px; /* Add max-width to prevent it from becoming too wide */
  margin-top: 24px; /* Adjust margin as needed */
}


/* Media query for smaller screens */
@media (max-width: 900px) {
  .score-parent-container {
    flex-direction: column;
    align-items: center;
  }

  #question-list {
    display: flex;
     flex-direction: column-reverse !important;
   }


  .container{
    flex-direction: column !important;
  }
  
}
/* Add this class for background color on dark mode */
.options-list li.dark-mode {
  background-color: #3B4D66;
}

/* Add this class for background color on light mode */
.options-list li.light-mode {
  background-color: #F4F6FA;
  
}
 .completed{
  font-weight:200;
  font-size: 64px;
  margin-right: 50%;

}

.score{

  font-weight:500;
  font-style: bold;
  font-size: 90px;
}
